body {
  font-family: sans-serif;
}

/*MAIN NAVI*/
.navi-bar {
  /* border: 2px solid red;*/
  background-color: grey;
  padding: 5px 10px;

  display: flex;
  list-style-type: none;
  justify-content: center;
  background-image: url(./waldemar-NPPNHZK1U0s-unsplash.jpg);
}

ul.navi-bar li a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 25px 20px;
  width: 200px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
.navi-bar li a:hover {
  color: bisque;
}
.intro-text {
  /*border: 5px solid red;*/
  min-height: 90vh;
  display: flex;
  justify-content: center;
  text-transform: capitalize;

  background-image: url(./waldemar-NPPNHZK1U0s-unsplash.jpg);
}
.intro-text h1 {
    color:white;
}


/*COMPANY*/
.company {
  /*border: 2px solid red;*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  font-weight: bold;
  background-color: rgb(213, 205, 205);
}

.company h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 20px 50px;
  display: flex;
  justify-content: center;
  color: black;
 
}
.company-container {
  /*border: 10px solid green;*/
  min-height: 40vh;
  display: flex;
  justify-content: center;
}
.card-wrapper {
  /*border: 5px solid blue;*/
  height: 1000px;
  width: 1000px;
  align-items: center;
}

.card-top-01 {
  background-image: url(./photo-company.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 
}

.company-1 {
  /*border: 8px solid orange;*/
  height: 250px;
}

.card-bottom-02 {
  border-radius: 0px 0px 8px 8px;
  padding: 0px 10px;
}
.card-bottom-02 h3 {
  display: flex;
  justify-content: center;
}
.card-bottom-02 p {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
}
.card-wrapper2 {
  justify-content: end;
}

.card-top2 {
  justify-content: space-evenly;
}
/*PRODUCTS*/

.products {
    /*border: 2px solid red;*/
    background-color: rgb(213, 205, 205);
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.products h1 {
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 50px ;
    display: flex;
    justify-content: center;
}

.product-container {
   /* border: 2px solid green;*/
    display: flex;
    min-height: 100vh;
    

}
.card-wrapper-1 {
   /* border: 2px solid blue;*/
    height: 500px;
    width: 300px;
    margin: 15px;
    
}
.products-sub {
   /* border: 5px solid orange;*/
    height: 250px;
}

.card-top-02 {
background-image: url(./fabric-unsplash.jpg);
height: 300px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 6px;

}
.card-bottom-02 {
display: flex;
flex-direction: column;
background-color:grey;
color: aliceblue;
border-radius: 6px;
}

.card-top-03 {
    background-image: url(./oscar-aguilar-elias-DdICHpb-1w8-unsplash.jpg);
 height: 300px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border-radius: 6px;
}

.card-top-04 {
    background-image: url(./erol-ahmed-_CeW6TRUWws-unsplash.jpg);
}
/*CONTACT*/

.services {
    border: 3px solid green;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    background-color: rgb(213, 205, 205);
    
}